<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>889714406211-g20kih3umjaobl6u0j3lt3r9on3nj1nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889714406211-g20kih3umjaobl6u0j3lt3r9on3nj1nj</string>
	<key>API_KEY</key>
	<string>AIzaSyCBV6cc8zesUZ12YYegjt7R-YEKpXKA-cc</string>
	<key>GCM_SENDER_ID</key>
	<string>889714406211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dominika.czarnecka.com.JigsawSwap</string>
	<key>PROJECT_ID</key>
	<string>jigsawswap-395bd</string>
	<key>STORAGE_BUCKET</key>
	<string>jigsawswap-395bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889714406211:ios:7913960b5d37fa6e</string>
	<key>DATABASE_URL</key>
	<string>https://jigsawswap-395bd.firebaseio.com</string>
</dict>
</plist>